<!--Imagem de background-->
<div class="py-5 text-center bg-image" style="
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQchzT-ayrVejYZAj4AeNjedQ0huDWTwMZow&usqp=CAU');
    background-size: 100% 100%;
  ">
  <!--container -->
  <div class="container">
    <div class="row">
      <!--Filtro-->

      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-success btn-sm text-white mt-3" (click)="findAllProdutos()">
            Limpar Filtro
          </button>
            <h4 class="mt-3 my-1">Categoria</h4>
          <div class="row mr-3">
            <div class="row">
              <div class="col-md-3">
                <div class="row ml-2" *ngFor="let tipo of listaCategoria">
                  <div class="form-check">
                    <input (input)="findByIdCategoria($event)" class="form-check-input" name="papelao" type="radio" value="{{ tipo.id_categoria }}" id="papelao"/>
                    <label class="form-check-label" for="papelao">
                      Categoria
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 ml-3 d-flex flex-wrap d-flex justify-content-arround">
        <div class="card mr-3 mb-2 mt-3 bg-transparent" style="width: 29%" *ngFor="let produto of listaProdutos"
        (click)="infoProduto({{ produto.id_produto }})">
          <img class="card-img-top t-img" src="{{ produto.foto }}" alt="Imagem de capa do card" width="100%"
            height="200px" />
          <div class="card-body mx-2">
            <h5 class="card-title">{{ produto.nome }}</h5>


            <div class="row d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <p class="m-0 font-weight-bold">
                  R$ {{ produto.preco }}
                </p>
              </div>
              <div class="d-flex align-items-center ml-3">
                <a href="" style="color:white">
                  <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                </a>
                <button type="button" class="btn btn-warning btn-sm rounded ml-2 btn-comprar" data-toggle="modal"
                  data-target="#comprar" routerLink="/carrinho">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>