<!--Imagem de background-->
<div
  class="p-5 text-center bg-image"
  style="
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQchzT-ayrVejYZAj4AeNjedQ0huDWTwMZow&usqp=CAU');
    background-size: 100% 100%;
  "
>
  <!--container -->
  <div class="container">
    <div class="row">
      <!--Filtro-->
      <div class="col-md-3 aline">
        <div class="row">
          <h5>Preço</h5>
        </div>
        <hr />
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions1"
              id="inlineRadio1"
              value="opcao1"
            />
            <label class="form-check-label" for="inlineRadio1"
              >Até R$ 100</label
            >
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions1"
              id="inlineRadio2"
              value="opcao1"
            />
            <label class="form-check-label" for="inlineRadio2"
              >R$ 100 até R$ 200</label
            >
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions1"
              id="inlineRadio3"
              value="opcao1"
            />
            <label class="form-check-label" for="inlineRadio3"
              >R$ 200 até R$ 300</label
            >
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions1"
              id="inlineRadio4"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio4"
              >R$ 300 até R$ 400</label
            >
          </div>
        </div>

        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions1"
              id="inlineRadio5"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio5">R$ 400 +</label>
          </div>
        </div>

        <div class="row mt-3">
          <h5>Material</h5>
        </div>
        <hr />
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions2"
              id="inlineRadio6"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio6">Papelão</label>
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions2"
              id="inlineRadio7"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio7"
              >Garrafa PET</label
            >
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions2"
              id="inlineRadio8"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio8">Plástico</label>
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions2"
              id="inlineRadio9"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio9">Pallet</label>
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions2"
              id="inlineRadio10"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio10">Madeira</label>
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions2"
              id="inlineRadio11"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio11"
              >Retalho de Roupa</label
            >
          </div>
        </div>

        <div class="row mt-3">
          <h5>Categoria</h5>
        </div>
        <hr />
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions3"
              id="inlineRadio12"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio12"
              >Utensílios Domésticos</label
            >
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions3"
              id="inlineRadio13"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio13"
              >Artigos de Arte</label
            >
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions3"
              id="inlineRadio14"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio14"
              >Objetos Decoração</label
            >
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions3"
              id="inlineRadio15"
              value="opcao2"
            />
            <label class="form-check-label" for="inlineRadio15">Móveis</label>
          </div>
        </div>
      </div>

      <div
        class="col-md-9 d-flex flex-wrap d-flex justify-content-arround"
      >

        <div class="card mr-3 mb-2 mt-3 bg-transparent" style="width: 15rem;" *ngFor="let produto of listaProdutos">
          <img
            class="card-img-top t-img"
            src="{{ produto.foto }}"
            alt="Imagem de capa do card"

          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              {{ produto.descricao }}
            </p>
            R$ {{ produto.preco }}
            <button
              type="button"
              class="btn btn-warning btn-sm ml-5 rounded"
              data-toggle="modal"
              data-target="#comprar" routerLink="/carrinho"
            >
              Comprar
            </button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

