<div class="container-fluid" id='img-bg'>
    <div class ="row d-flex align-items-center justify-content-center">
    <div class="row d-flex justify-content-center id='img-bg'">
        <div class="col-md-11 mt-5 mb-5 border border-dark shadow-lg p-3 bg-white rounded opacity hg" >
            <h4>Seu Dados </h4>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <hr>
                        <div class="form-row">
                            <div class="col-md-6 mb-1">
                                <label for="validationDefault01">Nome</label>
                                <input  name="nome" type="text" class="form-control"  placeholder="Seu Nome">
                            </div>
                            <div class="col-md-6 mb-1">
                                <label for="validationDefault02">Sobrenome</label>
                                <input type="text" class="form-control" id="sobrenome" placeholder="Seu Sobrenome">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-1">
                                <label for="validationDefault03">CPF</label>
                                <input  name="cpf" type="text" class="form-control" placeholder="Seu CPF">
                            </div>
                            <div class="col-md-4 mb-1">
                                <label for="validationDefault04">RG</label>
                                <input type="text" class="form-control" placeholder="Seu RG">
                            </div>
                            <div class="col-md-4 mb-1">
                                <label for="validationDefault05">Telefone</label>
                                <input type="text" class="form-control" id="telefone" placeholder="Telefone">
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-1">
                                <label for="inputEmail4">Email</label>
                                <input  type="email" class="form-control" id="inputEmail4" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Nova Senha</label>
                                <input type="password" class="form-control" id="inputSenha" placeholder="Digite sua nova senha">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Senha Atual</label>
                                <input type="password" class="form-control" id="inputSenha" placeholder="Digite sua senha atual">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Confirmar Nova Senha</label>
                                <input name="confirSenha" type="password" class="form-control" id="inputConfirmSenha" placeholder="Confirme sua nova senha ">
                            </div>
                        </div>
                        <div class="form-group mt-5">
                            <div class="row d-flex align-items-center justify-content-center">
                                <button type="button" class="btn btn-danger mb-1 ml-3" routerLink='/entrar'>Cancelar</button>
                                <button type="submit" class="btn  btn-success mb-1 ml-5" >Atualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>