<div class="d-flex justify-content-center container-fluid">
  <div
    class="login-container-content border border-success shadow-lg p-3 mb-5 bg-white rounded"
  >
    <div class="login-content">
      <h2 class="d-flex justify-content-center mb-5">Cadastrar</h2>

      <form class="forms-container">
        <div class="form-row">
          <div class="col-md-6">
            <label for="nome">Nome</label>
            <input  [(ngModel)]='cliente.nome' name="nome" type="text" class="form-control" placeholder="Nome" />
          </div>
          <div class="col-md-6 mb-5">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" placeholder="Sobrenome" />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <label for="cpf">CPF</label>
            <input [(ngModel)]='cliente.cpf' name="cpf" type="text" class="form-control" placeholder="CPF" />
          </div>
          <div class="col-6 mb-5">
            <label for="RG">RG</label>
            <input type="text" class="form-control" placeholder="RG" />
          </div>
        </div>
        <div class="form-row">
          <div class="col-6">
            <label for="nacionalidade">Nacionalidade</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nacionalidade"
            />
          </div>
          <div class="col-6 mb-5">
            <label for="validationCustom01">Telefone</label>
            <input type="text" class="form-control" placeholder="Telefone" />
          </div>
        </div>
        <div class="form-row">
          <div class="col-6">
            <label for="email">Endereço de email</label>
            <input (input)='confirmarEmail($event)'
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Seu email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >Nunca vamos compartilhar seu email, com ninguém.</small
            >
          </div>

          <div class="col-6">
            <label for="exampleInputEmail1">Confirmar Email</label>
            <input [(ngModel)]='cliente.email' name="confirEmail" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Confirmar Email"/>
          </div>
        </div>
        <div class="form-row">
          <div class="col-6">
            <label for="exampleInputPassword1">Senha</label>
            <input (input)='confirmarSenha($event)'
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Senha"
            />
          </div>
          <div class="col-6 mb-4">
            <label for="exampleInputPassword1">Confirmar Senha</label>
            <input [(ngModel)]='cliente.senha'
              name="confirSenha"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Confirmar Senha"
            />
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Manter-me conectado
          </label>
        </div>
        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-outline-danger" routerLink='/entrar'>Cancelar</button>
          <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
