<div class="fundo">
  <div class="container fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <h1 class="font-weight-bold display-5">Carrinho</h1>
      <img
        src="https://i.imgur.com/8vy1Bm2.png"
        alt="Foto carrinho"
        width="35px"
        height="35px"
      />
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-start mb-4 mt-4 border-top border-bottom">
      <div class="col-md-4">
        <img
          class="rounded mx-auto d-block img-aj"
          src="https://i.imgur.com/qH651Su.png"
          alt=""
        />
      </div>
      <div class="col-md-4 border-right">
        <p class="mb-3 mt-2 ml-4">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s. Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="text-center mb-3">Quantidade</h4>
        <h5 class="text-center mb-3">R$ 00,00</h5>
        <form>
          <div class="form-row align-items-center justify-content-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
                >Preferência</label
              >
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
                <option value="3">6</option>
                <option value="1">7</option>
                <option value="2">8</option>
                <option value="3">9</option>
                <option value="3">10</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center justify-content-start mb-4 mt-4 border-top border-bottom">
        <div class="col-md-4">
          <img
            class="rounded mx-auto d-block img-aj"
            src="https://i.imgur.com/qH651Su.png"
            alt=""
          />
        </div>
        <div class="col-md-4 border-right">
          <p class="mb-3 mt-2 ml-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s.
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="text-center mb-3">Quantidade</h4>
          <h5 class="text-center mb-3">R$ 00,00</h5>
          <form>
            <div class="form-row align-items-center justify-content-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
                  >Preferência</label
                >
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="1">4</option>
                  <option value="2">5</option>
                  <option value="3">6</option>
                  <option value="1">7</option>
                  <option value="2">8</option>
                  <option value="3">9</option>
                  <option value="3">10</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>

    <div class="container">
      <div class="row align-items-center border-bottom">
        <div class="col-md-4 ml-md-auto mb-5 mt-3">
          <h5 class="text-center">Consulte o prazo de entrega</h5>
          <form class="mt-3 form-inline justify-content-center">
            <div class="form-group mb-2 pr-3">
              <label for="" class="sr-only">CEP</label>
              <input
                type="text"
                class="form-control"
                id="inputPassword2"
                placeholder="Insira o CEP"
              />
            </div>
            <button type="submit" class="btn btn-info mb-2">Consultar</button>
          </form>
        </div>
        <div class="col-md-5 ml-md-auto mb-4 mt-4 border-left">
          <h4 class="text-center mb-3">Total com frete</h4>
          <h5 class="text-center mb-3">R$ 00,00</h5>
        </div>
      </div>
    </div>
    <div class="row pl-5 align-items-center mb-4 mt-4 border-bottom">
      <h3 class="font-weight-bold display-5 pr-3">Forma de Pagamento</h3>
      <img
        src="https://i.imgur.com/D4HuSyG.png"
        alt="Imagem código de barras"
        width="40px"
        height="40px"
      />
      <img
        class="pl-3"
        src="https://i.imgur.com/l2PdFXB.png"
        alt="Imagem cartão de crédito"
        width="60px"
        height="60px"
      />
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-5">
        <div class="form-group">
          <form>
            <div class="form-group">
              <label for="inputAddress">Número do Cartão</label>
              <input
                type="text"
                class="form-control"
                id="inputAddress"
                placeholder="Digite o número do Cartão"
              />
            </div>
            <div class="form-group">
              <label for="inputAddress2">Nome</label>
              <input
                type="text"
                class="form-control"
                id="inputAddress2"
                placeholder="Nome Completo"
              />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Data de vencimento</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Vencimento do Cartão"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Código de Segurança</label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Cod.Segurança"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">CPF</label>
              <input
                type="text"
                class="form-control"
                id="inputAddress"
                placeholder="CPF do Titular"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
