.cr-size{
    height: 350px;
    
}

.artigos{
    width: 230px;
}

.fundo-menu{
    background-color: #009900;
}

.modal-dialog{
    min-width: 80vw;
 }

 .size-modal{
     height: 300px;
     width: 500px;
 }

 .size-logo{
     height: 10%;
     width: 10%;
 }

 @media only screen and (max-width: 414px) {
    .teste {
     width: 15%;
     height: 30px;
    }

    .texto{
        display: none;
    }

    .gpet{
        margin-left: 5px;
    }
}

    /* @media only screen and (max-width: 414px) {
    .gpet{
        margin-left: 5px;
    }

    } */

.tmodal{
    width: 100%;
}