.cr-size{
    height: 350px;
    
}

.artigos{
    width: 230px;
}

.fundo-menu{
    background-color: #009900;
}

.modal-dialog{
    min-width: 80vw;
 }

 .size-modal{
     height: 300px;
     width: 500px;
 }

 .tmodal{
    width: 100%;
}

 @media only screen and (max-width: 414px) {
    .texto{
        display: none;
    }
    .impacto, .titulo-impacto {
        text-align: center;
    }
    .teste {
        margin-right: 3%;
    }
    .jumbotron,.response,#inspire{
        padding: 0%;
    }
    .card{
        width: 100%;
    }
    .categori{
        text-align:center;
        align-items: center;
    }
}

