<div class="jumbotron">
  <h1 class="display-4 d-flex justify-content-center">Impacto na Sociedade.</h1>
  <p class="lead">Lorem Ipsum.</p>
  <hr class="my-4" />
  <p>
    Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai
    caçá sua turmis! Nec orci ornare consequat. Praesent la cinia ultrices
    consectetur. Sed non ipsum felis. Praesent malesuada urna n isi, quis
    volutpat erat hendrer it non. Nam vulputate dapibus. Mé faiz elementum
    girarzis, nisi eros vermeio.
  </p>
  <div class="d-flex justify-content-center">
    <div>
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/WH7K979.jpg"
        alt="Papelão"
      />
      <div class="alinha">Papelão</div>
    </div>
    <div class="px-5">
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/EvTmQlI.jpg"
        alt="Madeira"
      />
      <div class="alinha">Madeira</div>
    </div>
    <div>
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/qH651Su.png"
        alt="PET"
      />
      <div class="alinha">Garrafa PET</div>
    </div>
    <div class="px-5">
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/XCCtvDO.jpg"
        alt="Pallet"
      />
      <div class="pallet">Pallet</div>
    </div>
    <div>
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/jyWqYmx.jpg"
        alt="Plastico"
      />
      <div class="alinha">Plástico</div>
    </div>
  </div>
</div>

<!--Cards Inicio-->
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.ytimg.com/vi/4kdJFXcnMSc/maxresdefault.jpg"
        alt="Espanador"
      />
      <div class="card-body">
        <h5 class="card-title">Espanador de Tecido</h5>
        <p class="card-text">
          Que tal ajudar com a sustentabilidade do nosso planeta substituindo nossos 
          limpadores descartáveis por outros feitos a mão, de forma fácil? Qualquer iniciante consegue fazer, 
          são praticamente só 2 costuras!
        </p>
        <a class="_blank" href="https://www.youtube.com/watch?v=4kdJFXcnMSc" target="_blank">Link Video</a>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.imgur.com/rmtsotx.jpg"
        alt="Sacola Ecologica"
      />
      <div class="card-body">
        <h5 class="card-title">Sacola Ecologica</h5>
        <p class="card-text">
          Esse vídeo é para você aprender a criar a sua sacola ecologica. Vamos juntos dizer não as sacolas de Plastico
          que destroem nosso meio ambiente. Qualquer iniciante consegue, vamos salvar nosso planeta! <br> <br>

        </p>
        <a href="https://www.youtube.com/watch?v=MhWhmwpKzyw" target="_blank">Link Video</a>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.imgur.com/oWsdqix.jpg"
        alt="Casinha de PET"
      />
      <div class="card-body">
        <h5 class="card-title">Casinha de garrafa PET</h5>
        <p class="card-text">
          Nesse video ensinamos a montar uma casinha pro seu pet, de GARRAFA PET e ISOPOR.
          Apenas com a reciclagem desses dois itens, podemos fazer coisas incriveis como o lar do 
          seu bichinho. <br><br>
        </p>
        <a href="https://www.youtube.com/watch?v=VEKLl65ZjJI" target="_blank">Link Video</a>
      </div>
    </div>
  </div>
  <!--Cards Final-->
  <br><br><br>
  <hr>
  <!--Inicio Categorias-->

  <div class="container">
    <h3 class="font-weight-bold display-5 mt-5">Categorias</h3>
    <div class="card-group mt-3">
      <div class="card" style="width: 18rem">
        <img src="https://i.imgur.com/nJkOncE.png" class="card-img-top" alt="Utensilios" />
        <div class="card-body">
          <p class="card-text d-flex justify-content-center">
           <b>Utensílios Diarios.</b> 
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="https://i.imgur.com/twqKGyj.png" class="card-img-top" alt="Artigos de Arte" />
        <div class="card-body">
          <p class="card-text d-flex justify-content-center">
            <b>Artigos de Arte</b>
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="https://i.imgur.com/sXh0eth.png" class="card-img-top" alt="Objeto de Decoração" />
        <div class="card-body">
          <p class="card-text d-flex justify-content-center">
            <b>Objetos de Decoração</b>
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="https://i.imgur.com/Re2oYTu.png" class="card-img-top" alt="Moveis" />
        <div class="card-body">
          <p class="card-text d-flex justify-content-center">
            <b>Moveis</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>
  <hr>